.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*media queries*/
@media only screen and (max-width: 1199px) {
	.app-container {
		flex-direction: column;
		width: 900px;
	}

	.filter {
		min-height: auto;
		flex: 0 0 35px;
	}
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
	.app-container {
		width: 720px;
	}

	.content-container .mycard {
		flex-basis: 330px;
		height: 330px;
	}
}

@media only screen and (max-width: 749px) {
	.app-container {
		margin: 0 15px;
		width: calc(100% - 30px);
	}

	.content-container {
		width: calc(100% - 50px);
	}

	.content-container .mycard {
		height: 50px;
		flex-basis: 100%;
	}
}